#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.poke-image {
    opacity: 0;
    transition: 0.5s;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0em 1em;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
}
.card.active {
    transform: scale(1.1);
}
.card:red {
    border: 1px solid #red;
    border-radius: 8px;
    padding: 0em 1em;
    text-align: center;
    background-color: #f9f9f9;
}
.card:blue {
    border: 1px solid #blue;
    border-radius: 8px;
    padding: 0em 1em;
    text-align: center;
    background-color: #f9f9f9;
}
.card:hover {
    background-color: #ffffff;
}

.pokemon-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 10px;
}

.player-card-blue {
    border: 1px solid blue;
    border-radius: 8px;
    padding: 0em 1em;
    margin: 0em 2em;
    text-align: center;
    background-color: #f9f9f9;
}
.player-card-red {
    border: 1px solid red;
    border-radius: 8px;
    padding: 0em 1em;
    margin: 0em 2em;
    text-align: center;
    background-color: #f9f9f9;
}
