#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.poke-image {
    opacity: 0;
    transition: 0.5s;
}
.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}
.pokemon-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding: 10px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 140px;
    height: auto;
    padding: 0em 1em;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s;
}
.card.active {
    transform: scale(1.08);
}
.card.red {
    border: 1px solid red;
}
.card.blue {
    border: 1px solid blue;
}
.card:hover {
    background-color: #ffffff;
}
.card-image-container {
    position: relative;
    width: 140px;
    height: 100px;
}
.unown-image {
    position: absolute;
    top: 0;
    left: 22px;
    scale: 1.2;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.unown-image.active {
    opacity: 0;
}
.poke-image {
    position: absolute;
    top: 0;
    left: 22px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.poke-image.active {
    opacity: 1;
}
.player-blue {
    border: 1px solid blue;
    border-radius: 8px;
    padding: 0em 1em;
    text-align: center;
    background-color: #f9f9f9;
}
.player-blue.active {
    animation: blink-blue 2s infinite;
}
@keyframes blink-blue {
    0% {
        box-shadow: 0px 0px 2px blue;
    }
    35% {
        box-shadow: 0px 0px 15px blue;
    }
    100% {
        box-shadow: 0px 0px 2px blue;
    }
}
.player-red {
    border: 1px solid red;
    border-radius: 8px;
    padding: 0em 1em;
    text-align: center;
    background-color: #f9f9f9;
}
.player-red.active {
    animation: blink-red 2s infinite;
}
@keyframes blink-red {
    0% {
        box-shadow: 0px 0px 2px red;
    }
    35% {
        box-shadow: 0px 0px 15px red;
    }
    100% {
        box-shadow: 0px 0px 2px red;
    }
}
